
<body>
    <div id="general">
        <div id="mision">
        <h1 align="center">VALORES</h1><br>
            <p align="center">Solidaridad</p><br><br>
            <p align="center">Compromiso y Participación</p><br><br>
            <p align="center">Libertad</p><br><br>
            <p align="center">Humanismo</p><br><br>
            <p align="center">Trabajo en equipo</p><br>

            
        </div>        
        <div id="valores">
            <h1 align="center">MISIÓN Y VISIÓN</h1>
            <p align="center">Misión: Contribuir a la atención de grupos vulnerables desarrollando actividades, programas y apoyos en busca de su bienestar.</p><br>
            <p align="center">Visión: Darnos a conocer y posicionarnos como una asociación de tercer sector, aumentando los apoyos y programas sociales hacia grupos vulnerables siendo así una asociación vanguardista, innovadora y respetada.</p>
        </div>
        <div id="nosotros" class="card-image">
        <h1 align="center">NOSOTROS</h1><br><br><br>
        <h2 align="center">Somos una organización sin fines de lucro cuyo objetivo más importante es expandir nuestra causa en favor de los que menos tienen. Buscando apoyar, capacitar y proporcionar recursos de alta calidad a nuestra comunidad en un entorno seguro. Nuestro éxito no se mide en términos de riqueza o márgenes de ganancia, sino por el valor que brindamos a aquellos grupos vulnerables a quienes atendemos.</h2>
        <br><br>       
            
            
    </div>
    </div>
</body>
  