*{
    margin:0px;
    padding:opx;
}
div#general{
    margin: auto;
    margin-top:60px;
    width: 1000px;
    height: 100px;
    background-color: white;
}
div#mision{
float: right;
width: 300px;
height: 400px;
background-color: snow;
border-color: sienna;
border-style: solid;
}
div#valores{  
    width: 640px;
    height: 200px;
    background-color: snow;
    border-color: sienna;
    border-style: solid;
    

}

div#nosotros{
    margin-top: 20px;
    width: 640px;
    height: 580px;
    background-color: snow;
    border-color: sienna;
    border-style: solid;

}
img{
    background-position: center;
}
h1{
    font-family: cursive;
    font-size: x-large;
    ;
    background: sandybrown;
    
}
h2{
    font-style: oblique;
    font-family: monospace;

   
    
}

