*{
    margin:0px;
    padding:opx;
}
div#general{
    margin: auto;
    margin-top:60px;
    width: 1000px;
    height: 1100px;
    background-color: wheat;
}
div#yoga{  
    margin-left: 1px;
    width: 480px;
    height: 250px;
    float: left;
    background-color: snow;
    border-color: sienna;
    border-style: solid;    

}
div#dfi{  
    margin-left: 20px; 
    width: 480px;
    height: 200px;
    float: right;
    background-color: snow;
    border-color: sienna;
    border-style: solid;    

}
div#tejido{  
    margin-right: 65px; 
    width: 480px;
    height: 150px;
    float: left;
    background-color: snow;
    border-color: sienna;
    border-style: solid;  
    margin-top: 35px;  

}
div#meditacion{  
    margin-left: 50px; 
    width: 480px;
    height: 150px;
    float: right;
    background-color: snow;
    border-color: sienna;
    border-style: solid;  
    margin-top: -210px;  

}
div#reciclado{  
    margin-right: 65px; 
    width: 480px;
    height: 150px;
    float: left;
    background-color: snow;
    border-color: sienna;
    border-style: solid;  
    margin-top: 35px;  

}
div#tanatologia{  
    margin-left: 65px; 
    width: 480px;
    height: 190px;
    float: right;
    background-color: snow;
    border-color: sienna;
    border-style: solid;  
    margin-top: -220px;  

}
div#pr{  
    margin-right: 30px; 
    width: 480px;
    height: 190px;
    float: left;
    background-color: snow;
    border-color: sienna;
    border-style: solid;  
    margin-top: 35px;  

}
div#baile{  
    margin-left: 65px; 
    width: 480px;
    height: 190px;
    float: right;
    background-color: snow;
    border-color: sienna;
    border-style: solid;  
    margin-top: -220px;  

}
div#computacion{  
    margin-right: 65px; 
    width: 480px;
    height: 190px;
    float: left;
    background-color: snow;
    border-color: sienna;
    border-style: solid;  
    margin-top: 20px;  

}


h1{
    font-family: cursive;
    font-size: x-large;
    ;
    background: sandybrown;
    
}