<body>
    <div id="general">
    <div id="yoga">
        <h1 align="center">YOGA</h1>
        <p align="center">Doctrina filosófica hindú que se basa en una serie de ejercicios espitituales y fisicos para liberar las tensiones del cuerpo.
            Horario de actividad.</p><br>
        <p align="center">Lunes  y Miercoles de 7:00 pm a 8:00 pm</p><br>
            <p align="center">Martes y Jueves de 8:30 am a 9:30 am</p>
    </div>
    <div id="dfi">
        <h1 align="center">DEFENSA PERSONAL INFANTIL</h1>
        <p align="center">Conjunto de habilidades técnico- tacticas encaminadas a impedir o repeler una agresión  realizadas por uno mismo y para sí mismo.

            Horario de actividad.</p><br>
        <p align="center">Martes y Jueves de 4:30 pm a 6:30 pm</p><br>
            
    </div>
    <div id="tejido">
        <h1 align="center">TEJIDO</h1>
        <p align="center">Actividad de elaborar manualidades a través de tejidos y bordados de tela e hilo.

            Horario de actividad.</p><br>
        <p align="center">Martes 9:30 am a 10:30 am</p><br>
            
    </div>
    <div id="meditacion">
        <h1 align="center">MEDITACIÓN</h1>
        <p align="center">Pensamiento o consideración de algo con atención y detenimiento para estudiarlo o comprenderlo bien.

            Horario de actividad</p><br>
        <p align="center">Martes 11:00 am a 12:00 pm</p><br>
            
    </div>
    <div id="reciclado">
        <h1 align="center">RECICLADO</h1>
        <p align="center">Proceso cuyo objetivo es elaborar manualidades a partir de productos ya creados.

            Horario de actividad
            </p><br>
        <p align="center">Miercoles 10:00 am a 11:00 am</p><br>
            
    </div>
    <div id="tanatologia">
        <h1 align="center">TANATOLOGÍA</h1>
        <p align="center">Disciplina integral que aborda todo lo relacionado con el fenomeno de la muerte en el ser humano: la pérdida, el sufrimiento psicológico y las relaciones significativas del enfermo.

            Horario de actividad</p><br>
        <p align="center">Jueves 10:00 am a 11:00 am</p><br>
            
    </div>
    <div id="pr">
        <h1 align="center">PINTURA Y REPUJADO</h1>
        <p align="center">Técnica artesanal que consiste en trabajar planchas de metal, cuero u otros materiales maleables, para obtener una figura ornamental en relieve.

            Horario de actividad</p><br>
        <p align="center">Jueves 11:30 am a 1:30 pm</p><br>
            
    </div>
    <div id="baile">
        <h1 align="center">BAILE</h1>
        <p align="center">La danza o el baile es un arte donde se utiliza el movimiento del cuerpo usualmente con música, como una forma de expresión y de interacción social, con fines de entretenimiento, artísticos o religiosos.

            Horario de actividad</p><br>
        <p align="center">Viernes 8:00 am a 9:30 am</p><br>
            
    </div>
    <div id="computacion">
        <h1 align="center">COMPUTACIÓN</h1>
        <p align="center">Ciencía encargada de elaboración y desarrollo de lógica a partir de actividades guiadas.

            Horario de actividad</p><br>
        <p align="center">Viernes 11:00 am a 12:00 pm</p><br>
            
    </div>
    </div>
</body>